<%= button_to "Add a home",new_listing_path(current_user), method: :get %>
<center>
<div class="container">
	<%= form_tag listings_path, method: :get do %>
	<%= submit_tag "SEARCH!", name: nil, class: 'btn btn-default submit-button' %>
	<%= text_field_tag :search, nil, placeholder: "Search places ...", class: "form-control" %>
	<% end %>
	<br />
	<% if @listings.blank? %>
	<h4>
	Thereare no listings containing the term
	<%= params[:search] %>.</h4>
	<% else %>
	<div class="row">
		<% @listings.each do |listing| %>
		<div class="col-md-4 well">
			<p>
				Home:
				<%= listing.home_title %><br />
				Summary:
				<%= listing.summary %><br />
				Price per night:
				<%= listing.price %><br />
				State:
				<%= listing.states %><br />
				Address:
				<%= listing.address %> <br />
				Bedrooms:
				<%= listing.bedroom %> <br />
				Bathrooms:
				<%= listing.bathroom %> <br />
				Accomodates:
				<%= listing.accomodate %> <br />
			</p>
		</div>
		<% end %>
	</div>
	<% end %>
	<h2>My homes</h2>
	<p>My listings!</p>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					Home
				</th>
				<th>
					Summary
				</th>
				<th>
					Price
				</th>
				<th>
					State
				</th>
				<th>
					Address
				</th>
			</tr>
		</thead>
		<tbody>
			<% current_user.listings.all.each do |x| %>
			<tr>
				<td><%= x.home_title %></td>
				<td><%= x.summary %></td>
				<td><%= x.price %></td>
				<td><%= x.states %></td>
				<td><%= x.address %></td>
				<td>
					<a href="/listings/<%= x.id %>">Press for more details!</a>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
</center>