<div class="container">

    <h2>My listing</h2>

    <h3>Home details:
    </h3>
    <br/>
    <center>

        <h3>Photos:</h3>
        <div id="listing-show">
            <% @listing.photos.each do |photo| %>
            <div class="item">
                <%= image_tag photo.url(:thumb), class:"img-responsive" %><br/>

            </div>
            <% end %>
            <br/>

            Place:
            <%= @listing.home_title %><br/>
            Type:
            <%= @listing.home_type %><br/>
            Rooms:
            <%= @listing.room_type %><br/>
            Summary:<br />
            <%= @listing.summary %><br/>
            Price per night:
            RM <%= @listing.price %><br/>
            State:
            <%= @listing.states %><br/>
            Address:
            <%= @listing.address %><br/>
            <br />
            Bedrooms:
            <%= @listing.bedroom %><br/>
            Bathrooms:
            <%= @listing.bathroom %><br/>
            This place accomadates:
            <%= @listing.accomodate %> people.<br/>
        </div><br/>

        <%= button_to "Make a reservation!", new_listing_reservation_path(@listing.id),{ method: "get"} %>
        <%= button_to "Verify Listing", edit_listing_path(@listing.id),{ method: "get"} %>
    </center>
</div>
