Static Index

Homepage put all listings here

<table>
		<tr>
			<th> Home </th>
			<th> Summary  </th>
			<th> Price </th>
      <th> Address </th>
		</tr>
			<tbody>
		<% Listing.all.each do |x| %>
		<tr>
			<td><%= x.home_title %></td>
			<td><%= x.summary %></td>
			<td><%= x.price %></td>
			<td><%= x.address %></td>
			<td>				<a href="/listings/<%= x.id %>">Press for more details!</a>			</td>
		</tr>
		<% end %>
	</tbody>
			</tr>
	</table>
		<%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
